DATABASE_URL="postgresql://postgres.mrofwdeghizqnghivxpr:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.mrofwdeghizqnghivxpr:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
DATABASE_PASSWORD=""
NODE_ENV="dev"
BETTER_AUTH_URL="http://localhost:3333"
BETTER_AUTH_SECRET="kXyn7Qzh7gaQY7vw0cv0fo1hNirTYhU7"
ABACATE_PAY_SECRET=""
BASE_URL="http://localhost:3333"
PORT=3333